h1{
    text-align: center;
}

.setting{
    position: fixed;
    top: 20px;
    left: 20px;
    size: 25px;
}
.online{
    position: fixed;
    top: 20px;
    right: 20px;
}
.main{
    text-align:center;
}
.being{
    color:blue;
}
.infinity{
    color:black;
}
.lens{
position:relative;
left: 20px;
}
.search{
    padding:15px 15px 15px 45px;
    border-radius:30px;
    width:30%;
}
#suggest-box{
    border:1px solid black;
    margin:3px auto;
    width: 35%;
    position:relative;
    left: 10px;
    right:5px;
    height:40px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    margin-top:5px;
}
.suggest-text{
    padding:5px;
    border-bottom:1px solid #ddd;
    cursor:pointer;
    text-align:left;
}
.suggest-text:last-child{
border-bottom:none;
}
.suggest-text:hover{
    background-color:#f2f2f2;
}
